/*  Computer & Network Systems Website 
     Version 6.0 
     Created by: Nicholas Jones
     Date: 8/11/2024
     Log: Complete redesign of website to better fit a mobile device.  

/* Website Layout 
   1. Home 
   2. About Us
   3. Our Services
   4. What Our Clients Say
   5. Contact Us
   6. Footer
   7. Back To Top Button
   */


/*------------------------------------ CSS Imports & Reset -----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------ Basic Styling -----------------------------------------------*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: white;
}

p {
    color: white;
    font-size: 16px;
}

li, a, button {
    font-weight: 200;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/*------------------------------------ Hero Styling -----------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

/*------------------------------------ Navbar -----------------------------------------------*/

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.navbar .logo {
    width: 200px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navbar ul li {
    margin-left: 40px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #15deea;
}

/*------------------------------------ Navbar Button Styling -----------------------------------------------*/

.contact_btn a {
    text-decoration: none;
    display: inline;
    border: 2px solid  #ff0000;
    padding: 8px 20px;
    margin-left: 40px;
    border-radius: 50px;
}

.contact_btn a:hover {
    background-color: #ff0000;
    color: black;
    transition: 0.3s ease;
}



/*------------------------------------ Page 1 Home Page -----------------------------------------------*/

/* Content Styling */
.content {
  text-align: left;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1 {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 800;
}

.content a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: 2px solid  #ff0000;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.content a:hover {
    background-color: #ff0000;
    color: black;
    transition: 0.3s ease;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the area */
    z-index: -1; /* Keeps the video behind the content */
}

/*------------------------------------ Page 2 About Us Page -----------------------------------------------*/

/*Section Styling */
#about-us,
#our-services,
#remote-support,
#what-our-clients-say,
#contact-us {
    padding: 40px;
}

/* Title Styling */
.about-us-title h2,
.our-services-title h2,
.remote-support-title h2,
.what-our-clients-say-title h2,
.contact-us-title h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* Card Container - Flexbox Setup for whole website */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

/* Card 1 & 3 Styling */
.card_1,
.card_3 {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 220px;
    max-width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Card 2 Styling */
.card_2 {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-content h4 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: rgba(21, 222, 234, 1);
    letter-spacing: 1px;
}

.card-content p {
    font-size: 1rem;
    color: #bab5b5;
    text-align: justify;
    letter-spacing: 1px;
}

/*------------------------------------ Page 3 Our Services Page -----------------------------------------------*/
.card_4,
.card_5,
.card_6 {
    border: 1px solid #ddd;
    border-radius: 1ch0px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card_4 h3,
.card_5 h3,
.card_6 h3 {
    color:#15deea;
}

/*------------------------------------ Page 4 Remote Support Page -----------------------------------------------*/

.card_7,
.card_8 {
    border: 1px solid #ff0000;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card_7 a,
.card_8 a {
    font-weight: bold;
    font-size: 25px;
}

.card_7:hover,
.card_7 a:hover,
.card_8:hover,
.card_8 a:hover {
  transform: translate(0, -10px);
  transform: ease-in-out 0.4s;
  color: #000000;
  background-color: #ff0000;
}

/*------------------------------------ Page 5 What Our Clients Say Page -----------------------------------------------*/

.card_9,
.card_10,
.card_11 {
    border: 1px solid #928f8f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*------------------------------------ Page 6 Contact Us Page -----------------------------------------------*/

.contact_hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.contact-us_content {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  .back-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensures the video covers the area */
      z-index: -1; /* Keeps the video behind the content */
}

.card-container img {
    width: 40px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.card_12,
.card_13,
.card_14 {
    border: 1px solid #232222;
    background-color: #000000;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 320px;   
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/*------------------------------------ Page 6 Footer Page -----------------------------------------------*/

footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;     
    width: 100%;             
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
    padding: 5px;
    pointer-events: pointer;
    z-index: 4;
}

.footer a:hover {
    color: #15deea;
}

.footer-text,
.footer-list {
    text-align: center; /* Consolidated text alignment */
}

.footer-text {
    font-size: 10px;
    padding: 2px 0 1px 0; /* Combined padding from .footer-text p */
    letter-spacing: 1px;
}

.footer-text a,
.footer-icons a {
    color: white;
}

.footer-text a:hover,
.footer-icons a:hover {
    color: #15deea;
}

.footer-list {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
}

.footer-list li {
    display: inline-block;
    margin-right: 10px;
}

.footer-list li:last-child {
    margin-right: 0;
}

.footer-text i,
.footer-text a {
    color: rgb(173, 173, 173);
    letter-spacing: 1px;
}
